# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.Python
build/
dist/

# Virtual envs
.venv/
venv/
env/

# Prefect
.prefect/
prefect.db*

# Editors / OS
.vscode/
.idea/
.DS_Store

# Secrets
.env
.env.*
!.env.example
